body {
    background-color: #e4e4e4;
    padding: 40px;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    max-width: 1200px;
    margin: auto;
}
.wrapper {
    display: flex;
    flex-direction: row-reverse;
    background-color: #FFF;
    width: 1200px;
    margin: 0 auto;
}
.main_content {
    padding: 0 50px 50px 50px;
}
/*Меню сайта*/
nav {
    background-color: #f2f2f2;
    padding: 10px;
    width: 1180px;
    /* встановлюємо ширину */
    margin: 0 auto;
    /* центруємо горизонтально */
}

.menu {
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    /* займає всю ширину батьківського елемента */
}

.menu_list {
    margin: 0 10px;
    width: calc((100% - 40px) / 4);
    /* розраховуємо ширину пункта меню (4 пункти) */
}

.menu_text {
    display: block;
    padding: 10px;
    color: #333333;
    text-decoration: none;
}

.menu ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 0 10px;
}

.menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
}

.menu_text:hover {
    background-color: #4b54ff;
    color: #fff;
}

.menu a.active {
    background-color: #7077ff;
    color: #fff;
}