body {
  background-color: #e4e4e4;
  padding: 40px;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  max-width: 1200px;
  margin: auto;
}
/*Меню сайта*/
nav {
  background-color: #f2f2f2;
  padding: 10px;
  width: 1180px; /* встановлюємо ширину */
  margin: 0 auto; /* центруємо горизонтально */
}
  .menu {
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%; /* займає всю ширину батьківського елемента */
}
.menu_list {
  margin: 0 10px;
  width: calc((100% - 40px) / 4); /* розраховуємо ширину пункта меню (4 пункти) */
}
.menu_text {
  display: block;
  padding: 10px;
  color: #333333;
  text-decoration: none;
}
.menu ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.menu li {
  margin: 0 10px;
}
.menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #000;
}
.menu_text:hover {
  background-color: #4b54ff;
  color: #fff;
}
.menu a.active {
  background-color: #7077ff;
  color: #fff;
}
.main_content {
  padding: 0 10px 50px 50px;
}
.top_text {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 55px;
  color: black; 
  text-align: center;
}
/*Основна інформація wrapper info*/
.info {
  display: flex;
  flex-direction: row;
  background-color: #FFF;
  width: 1200px;
  margin: 0 auto;
}
.container_techskills {
  width: 100%; /* задаємо ширину блоку */
  margin: 0 auto; /* позиціонуємо блок в центрі по горизонталі */
}
.sidebar_title {
  font-style: normal;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  color: black;
  margin: 5px 0 5px 0;
}
.our_work {
  margin: 0 0 0 0;
}
.skills_list {
    margin: 0;
    padding: 0 0 0 12px;
}
.skills_list_item {
    color:rgb(0, 0, 0);
}
.skills_list_words {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgb(27, 27, 27);
}
.contacts_type {
  margin: 5px 0 5px 0;
}
.contacts_number {
  margin: 5px 0 5px 0;
}
.contacts_email {
  margin: 5px 0 5px 0;
}